In [ ]:
import pandas   as pd
import numpy    as np
import matplotlib.pyplot as plt
import seaborn as sns

q2 = pd.read_csv('titanicdataset.csv')
q2.head()
q2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
q2.Fare.min()
q2.Fare.max()#512.3292
# q2.Fare.mean() #32.204207968574636
# q2.Fare.median() #14.4542
#sns.boxplot(y='Fare', data=q2, palette='Set3')
q2.isnull().sum()
#sns.scatterplot(y='Sex', x='Age', hue='Survived', data=q2, alpha=0.5, color='blue')
#sns.histplot(x='Parch', data=q2, bins=30, kde=True, color='blue')
#sns.countplot(x='Pclass', data=q2, hue='Survived', palette='Set2')
#q2[q2['Survived'] == 1].groupby('Pclass').size()
#sns.countplot(x='Embarked', data=q2, hue='Survived', palette='Set2')
#sns.boxplot(x='Sex', y='Fare', data=q2, hue='Sex', legend=False, palette='Set3')
q2_1 = q2['Age'].fillna(value=q2.groupby(['Age'])['Fare'].transform('mean'))

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64