In [ ]:
import pandas as pd
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.width', 1000)

df = pd.read_csv('hts_2025_revision_2_csv.csv', header=0, sep=',', na_values=[''])
df.fillna(0, inplace=True)

# Display 200 random rows from the DataFrame
#df.sample(n=200)

          HTS Number  Indent                                        Description  Unit of Quantity General Rate of Duty                               Special Rate of Duty Column 2 Rate of Duty  Quota Quantity Additional Duties
6009   2710.19.30.70       5                          Quenching or cutting oils           ["bbl"]                    0                                                  0                     0            0.00                 0
22656     7307.29.00       2                                              Other                 0                   5%  Free (A*,AU,B,BH,CL,CO,D,E,IL,JO,KR,MA,OM,P,PA...                   45%            0.00                 0
1991   0707.00.50.85       4                                              Other            ["kg"]                    0                                                  0                     0            0.00                 0
20289  6813.20.00.10       3                 Articles for use in civil aircraft           ["No."]                    0                                                  0                     0            0.00                 0
15813  6104.29.05.10       4  Garments described in heading 6102; jackets an...     ["doz.","kg"]                    0                                                  0                     0            0.00                 0
...              ...     ...                                                ...               ...                  ...                                                ...                   ...             ...               ...
30875              0       4                       Uncovered innerspring units:                 0                    0                                                  0                     0            0.00                 0
1430   0406.30.05.00       3  Stilton cheese described in additional U.S. no...  ["kg","kg cmsc"]                  17%                         Free (CO,JO,KR,OM,PA,PE,S)                   35%            0.00                 0
19344           6310       0  Used or new rags, scrap twine, cordage, rope a...                 0                    0                                                  0                     0            0.00                 0
1730   0603.19.01.14       3                                       Calla lilies           ["No."]                    0                                                  0                     0            0.00                 0
10435  4101.50.10.91       3                                  Of equine animals      ["pcs","kg"]                    0                                                  0                     0            0.00                 0

[200 rows x 9 columns]