In [7]:

b = input()
#b =[1,2,3,4,5,6,7,8,9,10]

print(b)

for i in b:
  print(i) # 2 4 6 8 10
  continue

# for i in c:
#     print(i) # 2 4 6 8 10

dineshrocxks
dineshrocxks
d
i
n
e
s
h
r
o
c
x
k
s

In [ ]:
dict = {
    "brand": "Audi",
    "Model": "Q2",
    "Year": 1980
}

print(dict["brand"])
dict["Year"] = 2020
aprint(dict["Year"])

Audi
2020

In [47]:
n= 0 
for i in range (1,101):
    n = n+i
    #print("{} ^ {} =" .format(n,i),n**i)
    #print("{} ^ {} = {}" .format(n,i,n**i))
print(n)

5050

In [14]:
a= [2,4,6,8]

a[-2]

my_dict = {'1': 'a', '2':'B' , '3':['c','d','e']} 
#my_dict['3'][2] # 'd'
#my_dict['3'][1] # 'd'
my_dict['2'] # 'c'

'B'

In [3]:
def mths(a,b,*args,**kwargs):
 return 1.8 * a + 32
 

print(mths(20,2))

68.0

In [24]:
my_list = ["great",51,True,46,"Hi"]

#my_list[2:4]
my_list[2:-1] # [51, True]

my_list*2

['great', 51, True, 46, 'Hi', 'great', 51, True, 46, 'Hi']