# this is a  test code, mostly useless

In [ ]:
# two number varibales
price = 900
price2 = 890

print ('price 1', price)
print ('price 2', price2)

price 1 900
price 2 890

In [ ]:
#example string

brand = 'Apple'
brand2 = 'Samsung'

print ('brand 1', brand, 'price 1', price)
print ('brand 2', brand2, 'price 2', price2)

brand 1 Apple price 1 900
brand 2 Samsung price 2 890

In [ ]:
ram = 8
ram2 = 4

print ('brand 1', brand, 'price ', price, 'ram ', ram)
print ('brand 2', brand2, 'price ', price2, 'ram ', ram2)

brand 1 Apple price  900 ram  8
brand 2 Samsung price  890 ram  4

In [7]:
#exmample for boolean
is_apple = True
is_samsung = False

print('brand cost is', (((price * 1.52325)-100)/3))
discount = price * 0.01
print('discount', discount)
print (type(discount))
discount1 = (((price * 1.52325)-100)/3)
print('discount1', discount1)
print(type(discount1))
myint = int('test')
print(type(myint))
print(myint)

NameError: name 'price' is not defined

# Data structures

In [ ]:
brand_list = ['Apple', 'Samsung', 'Huawei', 'Xiaomi']
print(brand_list)
print (type(brand_list))
print (type(brand_list[0])) 

price_list = [900, 890, 800, 700]
ram_list = [8, 4, 6, 8]
storage_list = [256, 128, 256, 128]

len(brand_list)
print('brand list ', len(brand_list))
min(price_list)
print('min price ', min(price_list))
max(price_list)
print('max price ', max(price_list))         

price_list.append(1000)
print('price list added a  new  price ', price_list)
price_list.pop(-3)
print('price list removed a price ', price_list)
price_list.insert(2, 1200) 
print('price list inserted a price ', price_list)
price_list.remove(1200)
print('price list removed a price ', price_list)
price_list.sort()
print('price list sorted ', price_list)
price_list.reverse()
print('price list reversed ', price_list)
print(len(price_list[2:4]))

X= [10,"Range", "Great", -54, 11, 12]
print(len(X[2:4]))

print ('count',X[-1:-2])

#print(X[-2:-1])
tupe_1 = (10, 20, 30, 40, 50)
print('tuple', tupe_1)
print('type', type(tupe_1)) 
print('tuple', tupe_1[0])
print('tuple', tupe_1[1])
print('tuple', tupe_1[2:-1])

['Apple', 'Samsung', 'Huawei', 'Xiaomi']
<class 'list'>
<class 'str'>
brand list  4
min price  700
max price  900
price list added a  new  price  [900, 890, 800, 700, 1000]
price list removed a price  [900, 890, 700, 1000]
price list inserted a price  [900, 890, 1200, 700, 1000]
price list removed a price  [900, 890, 700, 1000]
price list sorted  [700, 890, 900, 1000]
price list reversed  [1000, 900, 890, 700]
2
2
count []
tuple (10, 20, 30, 40, 50)
type <class 'tuple'>
tuple 10
tuple 20
tuple (30, 40)

In [8]:
ns_list = [10, 20, 30, 40, 50,['tesla', 'apple', 'samsung'],['orange', 'banana', 'apple']]

print('nested list', ns_list[-2][0], ns_list[-1][-1], ns_list[1]== 10)

nested list tesla apple False

In [20]:
car_names_lst = ['tesla', 'bmw', 'audi', 'toyota', 'honda', 'ford', 'chevy', 'nissan', 'subaru', 'kia']
car_ratings_lst = [5, 4, 3, 3, 2, 2, 1, 1, 1, 1]


for i in car_names_lst:
    # print ('car index', i)
    # print ('car index', car_names_lst.index(i))
    # print ('car rating', car_ratings_lst[car_names_lst.index(i)])
    if car_ratings_lst[car_names_lst.index(i)] > 3:
        print(i, 'car rating ',car_ratings_lst[car_names_lst.index(i)], 'is greater than average rating', 3 )
    if car_ratings_lst[car_names_lst.index(i)] <= 3:
        print(i, 'car rating ',car_ratings_lst[car_names_lst.index(i)], 'is greater than average rating less than', 3 )

tesla car rating  5 is greater than average rating 3
bmw car rating  4 is greater than average rating 3
audi car rating  3 is greater than average rating less than 3
toyota car rating  3 is greater than average rating less than 3
honda car rating  2 is greater than average rating less than 3
ford car rating  2 is greater than average rating less than 3
chevy car rating  1 is greater than average rating less than 3
nissan car rating  1 is greater than average rating less than 3
subaru car rating  1 is greater than average rating less than 3
kia car rating  1 is greater than average rating less than 3

In [26]:
car_names_lst = ['tesla', 'bmw', 'audi', 'toyota', 'honda', 'ford', 'chevy', 'nissan', 'subaru', 'kia']
car_model_lst = ['model s', 'model 3', 'model x', 'model y', 'roadster', 'cybertruck', 'semi', 'atv']
car_years_lst = [2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021]    
car_prices_lst = [100000, 50000, 80000, 60000, 200000, 40000, 200000, 40000]
car_ratings_lst = [5, 4, 3, 3, 2, 2, 1, 1]
car_data = {
    'brand': car_names_lst,
    'model': car_model_lst,
    'year': car_years_lst,
    'price': car_prices_lst,
    'rating': car_ratings_lst
}
print (car_data.keys())      
print(car_data.items())
print(car_data['brand'][3])
print(car_data['model'][3])
print(car_data['year'][3])
#car_data.pop('brand')
car_data.keys()
car_names_lst = ['tesla1', 'bmw1', 'audi1', 'toyota1']
car_data.update({'brand': car_names_lst})
print(car_data['brand'][0])
print(car_data['brand'][1])
# print(car_data['year'][3])

a = 3
if a > 5:
    print('a is greater than 5')
elif a == 5:
    print('a is equal to 5')
elif a < 5:
    print('a is less than 5')

dict_keys(['brand', 'model', 'year', 'price', 'rating'])
dict_items([('brand', ['tesla', 'bmw', 'audi', 'toyota', 'honda', 'ford', 'chevy', 'nissan', 'subaru', 'kia']), ('model', ['model s', 'model 3', 'model x', 'model y', 'roadster', 'cybertruck', 'semi', 'atv']), ('year', [2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021]), ('price', [100000, 50000, 80000, 60000, 200000, 40000, 200000, 40000]), ('rating', [5, 4, 3, 3, 2, 2, 1, 1])])
toyota
model y
2021
tesla1
bmw1
a is less than 5

In [ ]:
#print(list(range(-100,-70,5)))

for i in range(1,5) :
    print (i*2)

In [46]:
# a= 0 
# b= 1 
# while (a+b) < 100:
#     print(a)
#     print("this is b", b)
#     a += 1
#     b = b*a*a

a_lst = ['a','d','v','s']
b_lst = [1,2,3,4]
for i in b_lst:
     a_lst.append(i)
print(a_lst)    
    
c_lst = [x  for x in b_lst if x > 2]
print(c_lst)

d_lst = [x if x == 1 else x-100 for x in b_lst if x > 2]
print(d_lst)

['a', 'd', 'v', 's', 1, 2, 3, 4]
[3, 4]
[-97, -96]

In [48]:
week_list = [ "Week" + str(i) for i in range(5)] 
print(week_list)

['Week0', 'Week1', 'Week2', 'Week3', 'Week4']

In [ ]:
def add_numbers(a,b):
    return a+b

print(add_numbers(3,400.0))

c = add_numbers(3,400.3)
print (c)   

c1 = lambda e,f : e+f 
print (c1(3,4))

# for i in range(1,10):
#     for j in range(1,5):
#         print(i,j, add_numbers(i,add_numbers(j,i)))

SyntaxError: invalid syntax (3345344535.py, line 9)

In [69]:
#5%2 > 1 or 8/2 !=2 

l = [1,12,3,4,4,['The','list','of','lists'],[1,2,3,4,5,6,7,8,9,10],4]
l1= l 
l.append(1010)
l.insert(1, 12)
l.remove(4)
l

n= 3
if n in l  and n in l1:
    print(n ,' is in the list')
else:
    print(n,' is not in the list')

3  is in the list

In [ ]:
a = 0
b = 1
print(a,b)
nextfib = a + b
print(nextfib)
a = b 
b= nextfib 
nextfib = a + b
print(nextfib)
a = b 
b= nextfib 
nextfib = a + b
print(nextfib)

In [ ]:
a = float(input('Enter a number: '))
b = float(input('Enter a number: '))

c= (a *a ) + (b * b)
print(c*c)

#print("hypotenuse squared = ", c)

d = "50"
f = int(d)