In [1]:
import numpy as np
import pandas as pd


company = ['tesla', 'ford', 'gm', 'toyota']
revenue = [100, 200, 300,400]
profit = [10, 20, 30,40,50]

c_series = pd.Series(revenue, index=company)

c_series[:2 ]
#c_series['toyota']


df_1 = pd.DataFrame({'company': ["company1", "company2", "company3", "company4"],
                    'revenue': [1, 2, 3, 4],
                    'profit': [10, 20, 30, 40]})

df_1['profit'] 
#df_1.loc[[2, 3], ['profit']]
df_1.loc[df_1['profit'] > 20, 'profit']
df_1.loc[df_1['profit'] > 20]

# df_2 = pd.DataFrame({'company': ["company1", "company3", "company4"],
#                     'revenue': [1,  3, 4],
#                     'loss': [10,  30, 40],
#                     'profit': [10, 30, 40]})                    

# pd.concat([df_1, df_2], axis=0, ignore_index=True)
# #pd.merge(df_1, df_2, on='company', how='inner')
# #pd.merge(df_1, df_2, on='company', how='outer')

# stock_d = pd.read_csv('D:\\0-AI-ML\\ai-ml\\week2\\classMaterial\\StockData.csv', header=0)

# #print(stock_d['price'].value_counts(normalize=True))
# #print(stock_d['price'].value_counts(normalize=False))
# #stock_d['price'].mean()

# stock_d['date'].astype('datetime64[ns]')
# #stock_d['date'].dt.year

# # import datetime as d 
# # d = d.date(2023, 10, 1)
# # print(d)

    company  revenue  profit
2  company3        3      30
3  company4        4      40